.Card {
  background-color: beige;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px;
  border-radius: 10%;
  padding: 10px;
  border: solid;
  border-color: #a9c0bc;
  border-width: 20px;
  flex-direction: column;
  width: 250px;
  height: 350px;
  justify-content: center;
}
.PokeImage {
  background-color: transparent;
  justify-content: center;
  width: 120px;
  height: auto;
  border: transparent;
}

.PokeName {
  margin: 10px;
  font-weight: bold;
  color: #000000;
}

.TypeImage {
  margin-top: 20px;
  border: solid;
  width: 150px;
}
