.NavBar{
        background-color: gray;
            height: 115px;
            width: auto;
            display: flex;
            align-items: center;
}

.Button{
    background-color: transparent;
    margin: 10px;
    width: 90px;
    height: 50px;
}